body,
.dg-box .accordion {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 13px;
}
.dg-box label {
  color: #333;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}
.menu-left li > a {
  color: #666;
  font-size: 13px;
  font-weight: 400;
  padding: 10px;
  text-shadow: none;
  display: block;
}
.dg-box .ui-accordion .ui-accordion-header {
  color: #666;
  font-size: 13px;
  font-weight: 400;
  text-shadow: none;
}
#product-attributes .form-group {
  margin-bottom: 15px;
}
#product-attributes .list-number li {
  margin: 8px 0;
}
.popover.right {
  margin-left: 15px;
}
.popover {
  width: 270px;
}
small {
  font-size: 12px;
}
.dg-options-content > .row {
  line-height: 22px;
  padding-top: 6px;
}
.product-price-info * {
  font-weight: 400;
}
.product-price-list {
  padding-left: 10px;
}
.mask-items-area .mask-item div.ui-resizable-sw,
.mask-items-area .mask-item div.ui-resizable-nw,
.mask-items-area .mask-item div.ui-resizable-ne {
  display: none !important;
}
#product-list-colors .bg-colors.active::before {
  content: "\f00c";
  font: normal normal normal 14px/1 FontAwesome;
  top: 6px;
}
div#dag-store-idea-categories {
  padding: 0;
  position: absolute;
  left: -15px;
  right: -15px;
  background-color: #666;
  top: -15px;
  margin: 0;
  border-bottom: 1px solid #ddd;
}
#dag-store-idea-categories ol.breadcrumb.idea-breadcrumb {
  position: static;
  width: 100%;
  background-color: #666;
  border-bottom: 1px solid #444;
  padding: 12px 15px;
}
div#dag-store-idea-categories > ul {
  padding: 0 !important;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
div#dag-store-idea-categories > ul > li {
  float: left;
  /*width: 80px!important;*/
  height: auto;
  background-color: transparent;
  color: #fff;
  margin: 15px;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
div#dag-store-idea-categories > ul > li > a {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.btn-thumb img.img-background {
  width: 80px;
  height: 80px;
  background-color: #53c1ca;
  border-radius: 3px;
}
div#dag-store-idea-categories > ul > li span {
  clear: both;
  display: block;
}
#dg-design-ideas .modal-body {
  opacity: 1 !important;
}
#admin-template .control-layers {
  min-height: auto;
}
.labView.active .changeColorAllArea {
  top: 60px;
  bottom: unset !important;
}
/*  */
.btn-popup {
  border-radius: 17px;
  border: solid 0.5px #808080;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #808080;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
}
.btn-popup:hover {
  background: #f8c948 !important;
  color: #e30613 !important;
  border: 1px solid #f8c948 !important;
}
#dg-left {
  padding-top: 25px;
}
.design {
  padding: 0 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
h1:before,
h2:before {
  content: "" !important;
}
@media (max-width: 480px) {
  .design {
    padding: 0;
  }
}
.design-workspace {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .design-workspace {
    flex-direction: column;
    align-items: center;
  }
}
.aside-block-settings {
  /* width: 278px; */
  display: flex;
  flex-direction: column;
}
.btn-warning {
  background-color: #e30613 !important;
}
@media (min-width: 1200px) {
  .aside-block-settings {
    padding: 0 0 25px;
  }
}
.modal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .btn-modal-wrapper {
    margin: 0 10px;
  }
}
@media (max-width: 1200px) {
  .modal-container {
    justify-content: center;
  }
}
.options-list {
  padding: 0;
  margin: 25px 0 0;
  list-style: none;
}
@media (max-width: 1200px) {
  .options-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .options-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.single-option {
  padding: 13px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  color: #2e2e2e;
  text-transform: capitalize;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  width: 100%;
}
.menu-left > li {
  border-style: none !important;
}
.menu-left li a.active i:before,
.menu-left li a:hover i:before {
  color: #e30613 !important;
}
.menu-left li a.active,
.menu-left li a:hover {
  background: #f8c948 !important;
  color: #2e2e2e !important;
  cursor: pointer;
}
#dg-left .dg-box {
  border-style: none !important;
}
.single-option img {
  width: 20px;
  height: 20px;
  margin-right: 22px;
}
.menu-left li > a {
  font-size: 20px;
}
.glyphicons:before {
  color: #e30613;
}
.single-option:hover .glyphicons {
  color: #e30613 !important;
}
.menu-left a i.glyphicons:before {
  font-size: 22px;
}
.dg-tools .btn.btn-default {
  background-color: #efefef !important;
  border-radius: 2px !important;
  color: #808080 !important;
}
.dg-tools .btn.btn-default:focus {
  outline: none !important;
}
.dg-box.width-100.div-layers h3.ui-accordion-header.ui-helper-reset.ui-state-default {
  border-style: none !important;
  color: #e30613 !important;
  background-color: #f8c948;
}
#dg-left .dg-box h3.ui-accordion-header.ui-helper-reset.ui-state-default {
  font-size: 16px;
}
.dg-box .ui-accordion .ui-accordion-header {
  color: #2e2e2e;
  font-weight: bold;
  font-size: 15px;
}
.accordion.ui-accordion.ui-widget.ui-helper-reset div {
  background: #efefef;
}
#product-thumbs .box-thumb.active {
  background: #f8c948 !important;
}
.dg-box .ui-accordion .ui-accordion-header {
  border-bottom: 1px solid #e30613 !important;
}
#product-price {
  border-bottom: 1px dashed #e30613 !important;
}
.product-price-info {
  border-top: 1px dashed #e30613 !important;
}
.dg-box {
  border: 1px solid transparent;
}
#product-thumbs .box-thumb.active span {
  color: #e30613;
  font-weight: bold;
}

#product-thumbs .box-thumb {
  text-decoration: none;
  color: #2e2e2e;
}
/** ----- Chrome - scroll ----- **/
#product-details::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}
#product-details::-webkit-scrollbar-thumb {
  background: #cac4c4;
  border-radius: 20px;
}
#product-details::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}
#ui-accordion-2-panel-1::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}
#ui-accordion-2-panel-1::-webkit-scrollbar-thumb {
  background: #cac4c4;
  border-radius: 20px;
}
#ui-accordion-2-panel-1::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}
#ui-accordion-2-panel-2::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}
#ui-accordion-2-panel-2::-webkit-scrollbar-thumb {
  background: #cac4c4;
  border-radius: 20px;
}
#ui-accordion-2-panel-2::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}
/** ----- Chrome - scroll ----- **/
.product-views {
  bottom: 90px !important;
}
body > .container-fluid {
  height: 650px;
}
/* @media (max-width: 480px) {
    font-size: 15px;
  } */
/* .customize-workspace {
  @include displayFlex(flex, column, flex-start, center);
  @media (max-width: 1200px) {
    margin: 0 0 25px;
  }
}
.customize-workspace__help-menu {
  width: 300px;
  padding: 10px 0;
  margin: 0 0 35px;
  border-radius: 2px;
  background-color: #efefef;
  @include displayFlex(flex, row, space-around, center);
}
.customize-workspace__button {
  @include displayFlex(flex, column, center, center);
  @include text("Montserrat", 12px, normal, normal, center, #808080, none);
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
}
.customize-workspace__image {
  width: 390px;
  height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: solid 1px #808080;
  box-sizing: border-box;
  @media (max-width: 420px) {
    width: 300px;
    height: 300px;
  }
  .img-size {
    width: 300px;
    height: 300px;
    object-fit: contain;
    cursor: pointer;
    @media (max-width: 420px) {
      width: 280px;
      height: 280px;
    }
  }
} */
#btn-btn-more a{
  background-color: #f8c948 !important;
  border-radius: 4px;
}

.glyphicons.css-cross {
  width: 20px;
  height: 20px;
  position: relative;
}

.glyphicons.css-cross:before, .glyphicons.css-cross:after {
  content: "";
  position: absolute;
  background: #d00;
}
.menu-left a i.glyphicons.css-cross:before{
  margin-top: 0;
}
.glyphicons.css-cross:before {
  transition: .3s;
  left: 50%;
  width: 20%;
  margin-left: -12%;
  height: 100%;
}
#btn-btn-more.active .glyphicons.css-cross:before ,
#toggle-more-top-ntns.active .glyphicons.css-cross:before {
  transform: rotateZ(90deg);
}

.glyphicons.css-cross:after {
  top: 50%;
  height: 20%;
  margin-top: -13%;
  width: 100%;
}

#more-options{
  display: none;
}

#dg-sidebar .dg-tools #more-top-btns{
  display: none;
}
#dg-sidebar .dg-tools #more-top-btns button:last-child{
  display: none;
}

#toggle-more-top-ntns .glyphicons.css-cross{
  width: 15px;
  height: 15px;
}
#toggle-more-top-ntns .glyphicons.css-cross:before {
  left: 40%;
  width: 20%;
}
#toggle-more-top-ntns .glyphicons.css-cross:after {
  top: 40%;
  height: 20%;
  margin-top: -3%;
  left: -2px;
}
#more-top-btns {
  float: right;
  margin-left: 3px;
}